
*   Computing Platforms: Set up the Workspace for Machine Learning Projects.  https://ms.pubpub.org/pub/computing
*  Machine Learning for Predictions. https://ms.pubpub.org/pub/ml-prediction
* Machine Learning Packages: https://scikit-learn.org/stable/

# Part I: Import and Inspect Data

In [20]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-PS2-Ava/main/data/Queried_Data/interestOverTime.csv')
df.head()

   -count  D+Month
0      26  2004-01
1      27  2004-02
2      25  2004-03
3      22  2004-04
4      19  2004-05

# Part II: Prepare the Y varible for Regression

## 2.1. Write functions to calculate the Y variable for Regression 

*(skip the step if the Y variable already exists)*

In [28]:
df['theta'] = df['-count']
df.head()

   -count  D+Month  theta
0      26  2004-01     26
1      27  2004-02     27
2      25  2004-03     25
3      22  2004-04     22
4      19  2004-05     19

## 2.2. Make Sure that the Data Type of Y is "numeric"

In [29]:
df.dtypes

-count       int64
 D+Month    object
theta        int64
dtype: object

In [30]:
df['theta'] = pd.to_numeric(df['theta'])
df.dtypes

-count       int64
 D+Month    object
theta        int64
dtype: object

# Part III: Prepare the Y variable for Classification

reference:

https://datatofish.com/if-condition-in-pandas-dataframe/ *italicized text*

In [ ]:
#@title Define the Congestion Threshold
cut = 0.95 #@param {type:"number"}

## 3.1. Method 1: If function

In [ ]:
df['congested'] = df['theta'] >= cut
df.head()

       number            timestamp  gas_used  gas_limit     theta  congested
100  14650515  2022-04-25 00:00:04         0   30000000  0.000000      False
101  14650516  2022-04-25 00:00:07   3067277   29970705  0.102343      False
102  14650517  2022-04-25 00:00:09  29927116   29941438  0.999522       True
103  14650518  2022-04-25 00:00:35  29951281   29970676  0.999353       True
104  14650519  2022-04-25 00:00:38  15598681   29999943  0.519957      False

In [ ]:
df.loc[(df['theta'] >= cut), 'congested'] = 1
df.loc[(df['theta'] <cut), 'congested'] = 0
df.head()

       number            timestamp  gas_used  gas_limit     theta congested
100  14650515  2022-04-25 00:00:04         0   30000000  0.000000         0
101  14650516  2022-04-25 00:00:07   3067277   29970705  0.102343         0
102  14650517  2022-04-25 00:00:09  29927116   29941438  0.999522         1
103  14650518  2022-04-25 00:00:35  29951281   29970676  0.999353         1
104  14650519  2022-04-25 00:00:38  15598681   29999943  0.519957         0

## 3.2. Method 2: Lambda function

notes: the best method that I suggest

In [ ]:
df['congested'] = df['theta'].apply(lambda x: 1 if x>= cut else 0)
df.head()

       number            timestamp  gas_used  gas_limit     theta  congested
100  14650515  2022-04-25 00:00:04         0   30000000  0.000000          0
101  14650516  2022-04-25 00:00:07   3067277   29970705  0.102343          0
102  14650517  2022-04-25 00:00:09  29927116   29941438  0.999522          1
103  14650518  2022-04-25 00:00:35  29951281   29970676  0.999353          1
104  14650519  2022-04-25 00:00:38  15598681   29999943  0.519957          0

## 3.3. Method 3: Cut function

reference: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

notes: I do not suggest this method if you are newbies to data science

In [ ]:
df.head()

       number            timestamp  gas_used  gas_limit     theta  congested
100  14650515  2022-04-25 00:00:04         0   30000000  0.000000          0
101  14650516  2022-04-25 00:00:07   3067277   29970705  0.102343          0
102  14650517  2022-04-25 00:00:09  29927116   29941438  0.999522          1
103  14650518  2022-04-25 00:00:35  29951281   29970676  0.999353          1
104  14650519  2022-04-25 00:00:38  15598681   29999943  0.519957          0

In [ ]:
import numpy as np
 
congested = pd.cut(df['theta'], bins=[0,0.95,1], labels=[0,1]) #might have problems at boundaries
df.insert(3, 'congested2',congested)
df.head()

,number,timestamp,gas_used,congested2,gas_limit,theta,congested
100,14650515,2022-04-25 00:00:04,0,NaN,30000000,0.000000,0
101,14650516,2022-04-25 00:00:07,3067277,0,29970705,0.102343,0
102,14650517,2022-04-25 00:00:09,29927116,1,29941438,0.999522,1
103,14650518,2022-04-25 00:00:35,29951281,1,29970676,0.999353,1
104,14650519,2022-04-25 00:00:38,15598681,0,29999943,0.519957,0

In [ ]:
import numpy as np
 
congested = pd.cut(df['theta'], bins=[-1,0.95,2], labels=[0,1]) #avoid the boundary problems
df.insert(3, 'congested3',congested)
df.head()

,number,timestamp,gas_used,congested3,congested2,gas_limit,theta,congested
100,14650515,2022-04-25 00:00:04,0,0,NaN,30000000,0.000000,0
101,14650516,2022-04-25 00:00:07,3067277,0,0,29970705,0.102343,0
102,14650517,2022-04-25 00:00:09,29927116,1,1,29941438,0.999522,1
103,14650518,2022-04-25 00:00:35,29951281,1,1,29970676,0.999353,1
104,14650519,2022-04-25 00:00:38,15598681,0,0,29999943,0.519957,0

# Part IV: Create the X variables

## 4.1. Shift the Y to get past values

reference:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html

In [31]:
# generate a new variable as the previous 1 observable of your Y variable for regression
df['theta_past'] =df['theta'].shift(1)
df.head()

   -count  D+Month  theta  theta_past
0      26  2004-01     26         NaN
1      27  2004-02     27        26.0
2      25  2004-03     25        27.0
3      22  2004-04     22        25.0
4      19  2004-05     19        22.0

## 4.2. Calculate the Moving Averages

references: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

https://towardsdatascience.com/moving-averages-in-python-16170e20f6c

In [32]:
#@title Define the Window
window = 10 #@param {type:"number"}

In [33]:
df['theta_past_ma10']=df['theta_past'].rolling(window=window,min_periods=1).mean()
df.head(20)

    -count  D+Month  theta  theta_past  theta_past_ma10
0       26  2004-01     26         NaN              NaN
1       27  2004-02     27        26.0        26.000000
2       25  2004-03     25        27.0        26.500000
3       22  2004-04     22        25.0        26.000000
4       19  2004-05     19        22.0        25.000000
5       19  2004-06     19        19.0        23.800000
6       19  2004-07     19        19.0        23.000000
7       20  2004-08     20        19.0        22.428571
8       24  2004-09     24        20.0        22.125000
9       25  2004-10     25        24.0        22.333333
10      22  2004-11     22        25.0        22.600000
11      18  2004-12     18        22.0        22.200000
12      22  2005-01     22        18.0        21.300000
13      25  2005-02     25        22.0        21.000000
14      21  2005-03     21        25.0        21.300000
15      22  2005-04     22        21.0        21.500000
16      20  2005-05     20        22.0        21.800000
17      19  2005-06     19        20.0        21.900000
18      17  2005-07     17        19.0        21.800000
19      18  2005-08     18        17.0        21.100000

# Part V Train and Test Split

*reference*:

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

In [34]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
print(tss)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

In [35]:
# change the train and test split parameters 
tss = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=2, test_size=None)

In [36]:
for train_idx, test_idx in tss.split(df):
    print("TRAIN:", train_idx, "TEST:", test_idx)

TRAIN: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77] TEST: [ 78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113
 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131
 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149
 150 151 152 153]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153] TEST: [154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189
 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229]

In [37]:
train_idx

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153])

In [38]:
test_idx

array([154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
       180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205,
       206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229])

In [39]:
train_df = df.filter(items=train_idx, axis=0)
test_df =  df.filter(items=test_idx, axis=0)

In [40]:
train_df.head()

   -count  D+Month  theta  theta_past  theta_past_ma10
0      26  2004-01     26         NaN              NaN
1      27  2004-02     27        26.0             26.0
2      25  2004-03     25        27.0             26.5
3      22  2004-04     22        25.0             26.0
4      19  2004-05     19        22.0             25.0

In [41]:
test_df.head()

     -count  D+Month  theta  theta_past  theta_past_ma10
154      35  2016-11     35        35.0             34.7
155      30  2016-12     30        35.0             34.5
156      36  2017-01     36        30.0             33.7
157      37  2017-02     37        36.0             33.6
158      37  2017-03     37        37.0             33.5

# Part VI Prepare the Train and Test Data for Classification and Regression

## 6.1. Classification

### 6.1.1 Define the columns (Y, X) for Classification

In [ ]:
cols_C = ['congested','theta_past_ma10']

### 6.1.2 Define the Data Frame of Train and Test Data for Classification

In [ ]:
df_C_train = train_df[cols_C]
df_C_test = test_df[cols_C]

### 6.1.3 Export the Train and Test Data for Classification

In [ ]:
df_C_train.head()

   congested  theta_past_ma10
0          0         0.557929
1          1         0.562116
2          1         0.562060
3          1         0.597107
4          0         0.675015

In [ ]:
df_C_train.to_csv('Classification_Train.csv')

In [ ]:
df_C_test.head()

       congested  theta_past_ma10
42300          0         0.543044
42301          1         0.552995
42302          0         0.627107
42303          0         0.621367
42304          0         0.605332

In [ ]:
df_C_test.to_csv('Classification_Test.csv')

## 6.2 Regression

### 6.2.1. Define the columns (Y, X) for Regression

In [42]:
cols_R = ['theta','theta_past_ma10']

### 6.2.2. Define the Data Frame of Train and Test Data for Regression

In [43]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

### 6.2.3. Export the Train and Test Data for Regression

In [44]:
df_R_train.head()

   theta  theta_past_ma10
0     26              NaN
1     27             26.0
2     25             26.5
3     22             26.0
4     19             25.0

In [45]:
df_R_train.to_csv('Regression_Train.csv')

In [46]:
df_R_test.head()

     theta  theta_past_ma10
154     35             34.7
155     30             34.5
156     36             33.7
157     37             33.6
158     37             33.5

In [47]:
df_R_test.to_csv('Regression_Test.csv')